{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard</h2>
<h4>All Users</h4>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>Username</th><th>Email</th><th>Role</th></tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4 class="mt-4">All Jobs</h4>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>Title</th><th>Company</th><th>Location</th></tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.id }}</td>
            <td>{{ job.title }}</td>
            <td>{{ job.company }}</td>
            <td>{{ job.location }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4 class="mt-4">Applications</h4>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>Job ID</th><th>Seeker ID</th></tr>
    </thead>
    <tbody>
        {% for app in applications %}
        <tr>
            <td>{{ app.id }}</td>
            <td>{{ app.job_id }}</td>
            <td>{{ app.seeker_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
